<% include ../../partials/header %>

<h1 class="text-center">Welcome to Canada</h1>

<h3 class="text-center">
    <a href="/us">US </a>
    <a href="/canada">Canada </a>
    <a href="/europe">Europe </a>
    <!--<a href="/asia">Asia/Pacific/Middle East </a>-->
    <!--<a href="/oceania">Oceania</a>-->
    <!--<a href="/latinAmerica">Latin America</a> -->
    <!--<a href="/africa">Africa</a>-->
</h3>
    
    <div class="container">
      <div class="jumbotron">
          <a href="/campgrounds" class="btn btn-lg btn-primary" style="margin: -20px -50px;position: relative;left: 48%;" >View All Lists </a>
        <h1 class="text-center">List of Canada Countries</h1>
        <p>coming soon list</p>
      </div>
    </div><!-- /.container -->


<% include ../../partials/footer %>