<% include ../../partials/header %>
<div style="color:white;">
    <h1>shows more info about one state</h1>



    <h1><%= aState.state %></h1>
</div>
    <a class="btn btn-primary btn-large" href="/us/<%= aState._id %>/new">Add New Post</a>

